<p>{{daysTillChristmas}} days till Christmas!</p>
<h2>Christmas Organiser!</h2>


<h3>Advent Windows - who has which date?</h3>
{{#if listExists}}
  <ul>
    {{#each neighbours}}
    <li>{{this.name}} {{this.date}}</li>
    {{/each}}
  </ul>
{{/if}}
